[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pydantic-settings = "*"
pyjwt = "*"
fastapi = {extras = ["standard"], version = "*"}
pwdlib = {extras = ["argon2"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
